
<a class="clearbit-overlay" data-form-id="8fc5c44e-3906-4d70-9ade-05d642c8d783" data-theme="default" >Clearbit Form</a>

<center><h2> Blogs </h2> <center> </br>
	<center><a href= 'blogs/new'><h4> Add a blog </h4> </a><center> <br>
		<script>	_gs('identify',{
				email :'russell_unidentify@gosquraed.com'
			});

			_gs('event', 'Clicked Like', {
				extra: 'event',
				details: true
			});
</script>

		<div class='row center-block'>
			<% @blogs.each do |blog| %>
			 <div class="track_container col-sm-3">
				<%= link_to blog.title, blog_path(blog) %> <br>
				<%= blog.created_at.strftime("%m/%d/%Y")%> <hr>
				<%= blog.content[0...-4] %><strong><%=link_to "...click for more",  blog_path(blog)%></strong><br>
				<%= link_to "Like", blog_likes_path(blog), class: 'likes-link' %>
						<span class ='likes_count'>  <%= blog.likes.count %> </span><%= ' like'.pluralize(blog.likes.count) %>
			</div>
			<% end %>
		</div>
	</div>
