<script>
!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
insertBefore(d,q)}(window,document,'script','_gs');

_gs('GSN-589158-M', false);

</script>




<div class = "form-wrapper">
<%= form_for @blogs do |f| %>
  <div class = "form-group row">
    <%= f.label "Title" %>
   	<%= f.text_field :title, :class => 'form-control' %>
	</div>
	 <div class = "form-group row">
  <%= f.label "Content" %>
  <%= f.text_area :content, :class => 'form-control' %>
  </div>
   <div class = "form-group row">
  <%= f.submit :class => 'btn-primary' %>
  <% end %>

  </div>
</div>
