<!DOCTYPE html>
<html>
<head>
	<title>GoSquared</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129507693-1"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129507693-1');
	</script>

	<script>
	setTimeout(function() {
	!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
	arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
	d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
	insertBefore(d,q)}(window,document,'script','_gs');

	  _gs('GSN-192184-B');
		 _gs('GSN-399954-K');
		 _gs('GSN-401387-R');

	 _gs('set', 'trackLocal', true);


	$('.likes-link').on('click', function() {
		_gs('event', 'Clicked Like');
	});
	}, 1000);



	</script>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "GoSquared Task", root_path %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
   			<% if user_signed_in? %>
   			 <li>
   			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
   			<% end %>
        </li>
        <% if !user_signed_in? %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>

	<% flash.each do |key, value| %>
	<center><div class="alert alert-warning">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= value %>
  <% end %>
  </center>
</div>

	<%= yield %>

</body>
</html>
